{% extends 'core/base.html' %}

{% block title %}
  About
{% endblock %}

{% block meta %}
  <meta name="description" content="This is the best online store ever" />
  <meta name="author" content="Yooooo" />
  <meta property="og:title" content="Ecommerce| About" />
  <meta property="og:description" content="This is the best online store ever| About" />
  <meta property="og:type" content="Article" />
  <meta property="og:url" content="http://commerce.com/About" />
{% endblock %}

{% block content %}
  <h1>About</h1>
{% endblock %}
